
      <div class="parallax-container" style="height:50px">
          <div  materialize="parallax" class="parallax"><img src="../../../assets/accueil_one.jpg"></div>
      </div>
        <div class="section white">
          <div class="row container">
            <h2 class="header">La sieste améliore la vigilance</h2>
            <p class="grey-text text-darken-3 lighten-3">
                À condition qu'elle ne dure qu'entre 20 et 30 minutes (pas au-delà), la sieste peut fortement améliorer la vigilance. En fin de sieste, lorsqu'on se réveille, les hormones libérées (l'adrénaline et la noradrénaline) stimulent le rythme cardiaque qui permet une irrigation plus importante du cerveau. Résultat : plus on est stimulé, plus on est énergique et donc plus on est vigilant. Il s'agit en fait du même phénomène que lorsqu'on sort d'une bonne nuit de sommeil. Une étude a même démontré qu'après une sieste, le risque d'accidents de la route diminue fortement, notamment chez les jeunes. La prochaine fois qu'on manque de concentration, on sait ce qu'il nous reste à faire...
            </p>
          </div>

        </div>



      <div class="parallax-container" style="height:50px">
         <div  materialize="parallax" class="parallax"><img src="../../../assets/accueil_one.jpg"></div>
      </div>
      <div class="section grey lignten-5">
          <div class="row container">
            <h2 class="header">La sieste améliore les performances ... ;) hhhh</h2>
            <p class="grey-text text-darken-3 lighten-3">
                À condition qu'elle ne dure qu'entre 20 et 30 minutes (pas au-delà), la sieste peut fortement améliorer la vigilance. En fin de sieste, lorsqu'on se réveille, les hormones libérées (l'adrénaline et la noradrénaline) stimulent le rythme cardiaque qui permet une irrigation plus importante du cerveau. Résultat : plus on est stimulé, plus on est énergique et donc plus on est vigilant. Il s'agit en fait du même phénomène que lorsqu'on sort d'une bonne nuit de sommeil. Une étude a même démontré qu'après une sieste, le risque d'accidents de la route diminue fortement, notamment chez les jeunes. La prochaine fois qu'on manque de concentration, on sait ce qu'il nous reste à faire...
            </p>
          </div>

        </div>



 