
<div class="container">

  <h4>Faire Un Devis</h4>
  
  <div class="row">
      <form class="col s12">
        
        <div class="row">
         
          <div class="input-field col s6">
            <input id="Nom" type="text" class="validate">
            <label for="first_name">Nom</label>
          </div>
          
          <div class="input-field col s6">
            <input id="Prénom" type="text" class="validate">
            <label for="last_name">Prénom</label>
          </div>
        
        </div>
      
       
        <div class="row">
         
          <div class="input-field col s12">
            <input id="email" type="email" class="validate">
            <label for="email">Votre Email</label>
          </div>
        
        </div>

        <div class="row">
         
          <div class="input-field col s12">
            <input id="society" type="text" class="validate">
            <label for="society">Votre Societé</label>
          </div>
        
        </div>

        <div class="row">

           <ul materialize="dropdown" id="dropdown2" class="dropdown-content">
    <li><a href="">Bed Type 1<span class="badge">1</span></a></li>
    <li><a href="">Bed Type two<span class="new badge">1</span></a></li>
    <li><a href="">Bed type three</a></li>
  </ul>
  <a materialize="dropdown" class="btn dropdown-button"  data-activates="dropdown2">Type de Lit sLEEPY sHIT<i class="material-icons right">arrow_drop_down</i></a>

        </div>


       
      </form>
    </div>
 
 
  </div>

  