
<div class="container center">
<ul>
  <li>Comment puis-je retourner des articles ?</li>
  <li> Dans le cas d’un retour d’article,<br>
    veuillez contacter notre service après-vente pour les modalités. <br>  
     Dans le cas où le retour est validé,<br>
     un transporteur viendra récupérer le produit.</li>
</ul>


<ul>
  <li>Quels sont les délais de livraisons ?</li>
  <li>Nos produits sont livrés en 7jours ouvrés.</li>
</ul>


<ul>
  <li>Quelles est la durée de vie des lits ?</li>
  <li>Nos lits sont garantis 2ans.</li>
</ul>

<ul>
  <li>Existe-t-il des assurances supplémentaires pour vos produits ?</li>
  <li>Vous pouvez souscrire à une assurance casse ou vol,<br>pour plus d’information,
     veuillez contacter notre service vente.</li>
</ul>

<ul>
  <li>Quel est votre politique de retour ?</li>
  <li>Le retour de nos produits est pris en charge par notre entreprise <br>
     dans le cas où le problème provient d’une défaillance de celui-ci,
      une fois la garantie de durée de vie dépassée.</li>
</ul>

<ul>
  <li>L’entretien/installation est-il compris dans les tarifs ?</li>
  <li>L’installation de nos produits est comprise dans le prix de vente.<br>
     Un service d’entretien peut être souscris auprès de notre entreprise. Pour plus d’information,
     veuillez contacter notre service vente.</li>
</ul>

<ul>
  <li>Existe-t-il une période d’essai ?</li>
  <li>Il n’existe pas de période d’essai pour nos produits. <br>
    Mais vous pouvez venir les tester au sein de notre entreprise.</li>
</ul>

<ul>
    <li>Où sont fabriqué les lits ?</li>
    <li>Nos produits sont montés dans nos dépôts</li>
  </ul>

  <ul>
      <li>Comment puis-je laisser des notes et des avis ?</li>
      <li>Vous pouvez nous laisser des notes sur google et des commentaires par mail</li>
    </ul>

    <ul>
        <li>Ai-je besoin de support médian pour compléter l’installation du lit
           ou le tarif comprend l’ensemble de la monture ?</li>
        <li>Le tarif prévu comprend l’installation et le montage du produit.</li>
      </ul>

      <ul>
        <li>Y’a-t-il un coût supplémentaire de livraison ?</li>
        <li>La livraison est comprise dans le prix d’achat.</li>
      </ul>

      <ul>
          <li>Y’a-t-il un service après-vente ?</li>
          <li>Il existe un service après-vente disponible de 9h à 18h du lundi au vendredi.</li>
        </ul>

        <ul>
            <li>Comment s’effectue le paiement du devis ?</li>
            <li>Vous pouvez payer par virement ou par chèque.</li>
          </ul>

        </div>