
<div class="container">





<h4>Nous contacter</h4>

<div class="row">
    <form class="col s12">
      <!--nom/prneom field-->
      <div class="row">
        <!--nom-->
        <div class="input-field col s6">
          <input id="Nom" type="text" class="validate">
          <label for="first_name">Nom</label>
        </div>
        <!--prenom-->
        <div class="input-field col s6">
          <input id="Prénom" type="text" class="validate">
          <label for="last_name">Prénom</label>
        </div>
      </div>
    <!--phone/email div row-->
      <div class="row">
        <!--mail-->
        <div class="input-field col s6">
          <input id="email" type="text" class="validate">
          <label for="email">Email</label>
        </div>
        <!--phone-->
        <div class="input-field col s6">
          <input id="phone" type="text" class="validate">
          <label for="phone">Numéro</label>
        </div>
      </div>
     <!--text area comment-->
                    <div class="row">
                        <div class="row">
                          <form class="col s12">
                            <div class="row">
                              <div class="input-field col s12">
                                <textarea id="textarea1" class="materialize-textarea"></textarea>
                                <label for="textarea1">Commentaire</label>
                              </div>
                            </div>
                          </form>
                        </div>
                    </div>
                  </form>
  </div>   
</div>

